[submodule "generator_time_tester"]
	path = tester
	url = https://github.com/tmasjc/generator_time_tester.git 
[submodule "validator"]
	path = validator
	url = https://github.com/tmasjc/generator_time_validator.git 
